<mat-tab-group [selectedIndex]="4" >
  <mat-tab label="Project Info"> Content 1 </mat-tab>
  <mat-tab label="Project Scope"> Content 2 </mat-tab>
  <mat-tab label="Project Delivery Guide"> Content 3 </mat-tab>
  <mat-tab label="Project Delivery Validation"> 
    <!-- Basic Bootstrap Table -->
    <div class="card">
      <div class="table-responsive text-wrap">
        <table class="table">
          <thead class="thead-light headtext">
            <tr>
              <th>Career Area</th>
              <th>UserName</th>
              <th>Validation Description</th>
              <th>Sample Files</th>
              <th>Status</th>
              <th>Evidence File</th>
              <th>Evidence Video</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <tr *ngFor="let deliveryvalidation of deliveryvalidations; let i = index">
                <td style="max-width: 200px;">{{deliveryvalidation.career_Area}}</td>
                <td>{{deliveryvalidation.userName}}</td>
                <td style="max-width: 300px;">{{deliveryvalidation.validation_Description}}</td>
                <td><a href="#"><i class="fa fa-download" aria-hidden="true"> </i> &nbsp; <u>{{deliveryvalidation.sample_File}} </u></a></td>
                <td><div style="color: red;background-color: #ffcccb;padding: 2px;border-radius: 5px;">{{deliveryvalidation.status}}</div></td>
                <td><a href="#"><i class="fa fa-upload" aria-hidden="true"> </i> &nbsp; <u>{{deliveryvalidation.evidence_File}}</u></a> </td>
                <td><a href="#"><i class="fa fa-upload" aria-hidden="true"> </i> &nbsp; <u>{{deliveryvalidation.evidence_Video}}</u></a> </td>
                <td>
                  <div (click)="toggle[i] = !toggle[i]">
                    <i class="fa fa-3x" [ngClass]="toggle[i] ? 'fa-chevron-circle-down': 'fa-chevron-circle-right'" aria-hidden="true"></i>
                  </div>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>


